body{
    background-image: url(bg.jpg);
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    width: 600px;
}

.title{
    display: flex;
}

.title-text, .subtitle-text, .video, .content-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10vh;
    width: 700px;
    margin-left: -70px;
    color: brown;
}

.subtitle-text{
    font-size: 2.5vh;
    color: rgb(186, 97, 97);
    margin-left: -60px;
    margin-top: -35px;
}

.napkin{
    width: 45%;
    transform: rotate(90deg);
}

.chipas{
    width: 47%;
    z-index: 10;
    margin-left: -45.5%;
    border: 1px rgb(206, 186, 163) solid;
    border-radius: 10px;
}

.big-container{
    background-color: antiquewhite;
    width: 80%;
    border-radius: 50px;
    margin-top: 80px;
}

.cool-text{
    display: flex;
    flex-direction: column;
}

.video{
    display: flex;
    gap: 4px;
    margin-left: -60px;
    font-size: 2vh;
    margin-top: -25px;
    
}

.to-tutorial{
    color: rgb(186, 97, 97);
    text-decoration: underline;
}

.to-tutorial:hover{
    color: rgb(187, 71, 71);
}

.content-text{
    font-size: 6vh;
    margin-left: 110px;
    margin-top: -70px;
}

.intro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    margin-left: 120px;
    margin-top: -20px;
    color: rgb(187, 71, 71);
    line-height: 1.7;
    font-size: 2.5vh;
}

.u-ingridients{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(187, 71, 71);
    margin-top: -20px;
    font-size: 2.4vh;
    margin-bottom: 30px;
    padding: 4px 0;
}

.lil-ingridients{
    margin-left: 110px;
    color: rgb(187, 71, 71);
}